.audioPlayer {
  position: fixed;
  bottom: 1rem;
  left: 4rem;
  right: 4rem;
  height: 5rem;
  background-color: var(--gray-400);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.togglePlaybackButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0;
  border: 0;
  margin: 0 1.5rem 0 1rem;
  padding: 0;
  color: var(--gray-400);
}

.trackCover {
  height: 3.5rem;
  margin-right: 1.5rem;
}

.trackInfo {
  width: 12.5rem;
}

.trackTitle {
  font-weight: 600;
}

.trackArtist {
  color: var(--gray-200);
}

.sliderContainer {
  flex-grow: 1;
  margin-right: 1.5rem;
}

.slider {
  width: 100%;
}
