/* woff */
@font-face {
  font-family: 'Epidemic';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Medium.woff')
    format('woff');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-SemiBold.woff')
    format('woff');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Bold.woff')
    format('woff');
}

/* woff2 */
@font-face {
  font-family: 'Epidemic';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Bold.woff2')
    format('woff2');
}

:root {
  --blue-100: #009de0;
  --blue-200: #006bc9;
  --white: #fff;
  --black: #000;
  --gray-100: #767676;
  --gray-200: #424242;
  --gray-300: #333;
  --gray-400: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Epidemic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  color: inherit;
  font-size: 1em;
  box-shadow: 0;
}

label {
  display: inline-block;
}

a {
  color: var(--blue-100);
  text-decoration: none;
}

a:hover {
  color: var(--blue-200);
  text-decoration: underline;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

.t-right {
  text-align: right !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
